<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ouyanglol.dao.ComicBasicMapper" >
  <resultMap id="BaseResultMap" type="com.ouyanglol.model.ComicBasic" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="check_num" property="checkNum" jdbcType="INTEGER" />
    <result column="serialize_status" property="serializeStatus" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, author, check_num, serialize_status, create_date, update_date, status, 
    introduction,cover
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from comic_basic
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from comic_basic
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ouyanglol.model.ComicBasic" >
    insert into comic_basic (id, name, author, 
      check_num, serialize_status, create_date, 
      update_date, status, introduction,cover
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{checkNum,jdbcType=INTEGER}, #{serializeStatus,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ouyanglol.model.ComicBasic" >
    insert into comic_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="checkNum != null" >
        check_num,
      </if>
      <if test="serializeStatus != null" >
        serialize_status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="cover != null" >
        cover,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="checkNum != null" >
        #{checkNum,jdbcType=INTEGER},
      </if>
      <if test="serializeStatus != null" >
        #{serializeStatus,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouyanglol.model.ComicBasic" >
    update comic_basic
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="checkNum != null" >
        check_num = #{checkNum,jdbcType=INTEGER},
      </if>
      <if test="serializeStatus != null" >
        serialize_status = #{serializeStatus,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouyanglol.model.ComicBasic" >
    update comic_basic
    set name = #{name,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      check_num = #{checkNum,jdbcType=INTEGER},
      serialize_status = #{serializeStatus,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectList" resultType="com.ouyanglol.model.ComicBasic" parameterType="com.ouyanglol.model.ComicBasic">
    SELECT
      <include refid="Base_Column_List" />
    FROM comic_basic
    WHERE 1=1
    <if test="name != null" >
      AND name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="author != null" >
      AND author = #{author,jdbcType=VARCHAR}
    </if>
    <if test="checkNum != null" >
      AND check_num = #{checkNum,jdbcType=INTEGER}
    </if>
    <if test="serializeStatus != null" >
      AND serialize_status = #{serializeStatus,jdbcType=TINYINT}
    </if>
    <if test="createDate != null" >
      AND create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateDate != null" >
      AND update_date = #{updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="status != null" >
      AND status = #{status,jdbcType=INTEGER}
    </if>
    <if test="introduction != null" >
      AND introduction = #{introduction,jdbcType=VARCHAR}
    </if>
    <if test="cover != null" >
      AND cover = #{cover,jdbcType=VARCHAR}
    </if>
    <if test="status == null" >
      AND status = 1
    </if>
  </select>

  <select id="select" resultType="com.ouyanglol.model.ComicBasic">
    SELECT
    <include refid="Base_Column_List" />
    FROM comic_basic
    WHERE 1=1
    <if test="name != null" >
      AND name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="author != null" >
      AND author = #{author,jdbcType=VARCHAR}
    </if>
    <if test="checkNum != null" >
      AND check_num = #{checkNum,jdbcType=INTEGER}
    </if>
    <if test="serializeStatus != null" >
      AND serialize_status = #{serializeStatus,jdbcType=TINYINT}
    </if>
    <if test="createDate != null" >
      AND create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateDate != null" >
      AND update_date = #{updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="status != null" >
      AND status = #{status,jdbcType=INTEGER}
    </if>
    <if test="introduction != null" >
      AND introduction = #{introduction,jdbcType=VARCHAR}
    </if>
    <if test="cover != null" >
      AND cover = #{cover,jdbcType=VARCHAR}
    </if>
    <if test="status == null" >
      AND status = 1
    </if>
    LIMIT 1
  </select>
</mapper>